<launch>

	<arg name="freq1"/>

	<arg name="freq2"/>

	<arg name="freq3"/>

	<node pkg='ICET' type="fake_lidar.py" name="fake_lidar_node" />

	<node pkg='ICET' type="scan_matcher.py" name="scan_matcher_node1" args="$(arg freq1)"/>

	<node pkg='ICET' type="scan_matcher.py" name="scan_matcher_node2" args="$(arg freq2)"/>

	<node pkg='ICET' type="scan_matcher.py" name="scan_matcher_node3" args="$(arg freq3)"/>

	<node pkg='ICET' type="graphmaker.py" name="graph_maker_node" />

</launch>